/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /* common css start */
    .container {
        padding: 0 15px;
    }

    .common-title h1 {
        font-size: 30px;
    }

    .common-description p {
        font-size: 15px;
        margin: 10px 0px 30px;
        line-height: 20px;
    }

    .common-button {
        font-size: 12px;
        padding: 13px 27px;
    }

    /* common css end */



    /* header start */
    header {
        margin: 15px 0 65px;
    }

    /* nav */
    .logo img {
        width: 80%;
    }

    .menu ul li {
        display: none;
    }

    .menu ul li:last-child {
        display: block;
        margin-top: 15px;
    }

    /* banner */
    .banner {
        flex-direction: column-reverse;
        padding-top: 50px;
    }

    .banner-content {
        margin-top: 20px;
    }

    .banner-content h1 {
        font-size: 30px;
    }

    .banner-content p {
        font-size: 15px;
        line-height: 20px;
    }

    .banner-image img {
        width: 100%;
    }

    /* header end */



    /* main start */

    /* our plants */
    .our-plants {
        margin-bottom: 50px;
    }

    /* our plants all cards */
    .our-plants-cards {
        grid-template-columns: repeat(2, 137px);
        column-gap: 15px;
    }

    /* single card */
    .card-title h2,
    .card-price p {
        font-size: 18px;
    }

    /* trusted seller */
    .trusted-seller {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .trusted-seller-badge img {
        display: none;
    }

    .trusted-seller-main-image img {
        width: 100%;
    }

    .trusted-title h1 {
        font-size: 25px;
        margin-top: 18px;
    }

    .trusted-description li {
        margin: 15px 0 0 20px;
    }


    /* latest deals */
    .latest-deals {
        margin-bottom: 100px;
    }

    .latest-deals-image-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px;
    }

    .image-right {
        padding: 30px 15px;
    }

    .latest-title {
        font-size: 20px;
    }

    .latest-link {
        font-size: 16px;
    }


    /* newsletter */
    .newsletter-title {
        padding-top: 90px;
        margin-bottom: 23px;
    }

    .newsletter-title h1 {
        font-size: 25px;
    }

    .newsletter-input {
        padding-bottom: 60px;
    }

    .newsletter-input input {
        padding: 10px 0 10px 15px;
    }

    /* main end */
}